{% extends "asd/base.html" %}

{% block header %}
{% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
{% endblock header %}

{% block content %}
    <table class="table">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Имя файла</th>
                <th>Действия</th>
            </tr>
        </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <th>{{ loop.index }}</th>
            <td>
                <a href="{% url 'asd:details' file.id %}">
                    {{ file.filename }}
                </a>
            </td>
            <td>
                <a href="{% url 'asd:delete' file.id %}"><span class="glyphicon glyphicon-bin">Удалить</span></a>
                <a href="{% url 'asd:download' file.sha_sum %}"><span class="glyphicon glyphicon-cloud-download">Скачать</span></a>
            </td>
        </tr>
        {% empty %}
            <tr><td>No files.</td></tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock content %}