{% extends 'asd/base.html' %}
{% load bootstrap3 %}

{% block header%}
<h2>Загрузить изображение</h2>
{% endblock header %}

{% block content %}
<form action="{% url 'asd:uploads' %}" method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
        {% buttons %}
            <button name="submit" class="btn btn-primary">Загрузить</button>
        {% endbuttons %}
</form>
{% endblock content %}